<app-header></app-header>

<div class="flex flex-col justify-center items-center">
    <div class="max-w-2xl flex flex-col justify-evenly items-center mt-28">
    
        <img class="h-20 lg:h-auto" src="../../../assets/pokememo.png" alt="">
    
    
        <div class="block p-6 my-10 rounded-lg shadow-lg bg-[#FFCC00]  max-w-md">            
    
            <form  [formGroup]="newGameform" (submit)="setValue()">
    
                <div class="form-group mb-6">
                    <label for="name">Nombre</label>
                    <input type="text" id="name" class="form-control block
                        w-full
                        px-3
                        py-1.5
                        text-base
                        font-normal
                        text-gray-700
                        bg-white bg-clip-padding
                        border border-solid border-gray-300
                        rounded
                        transition
                        ease-in-out
                        m-0
                        focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none
                        placeholder:font-poke placeholder:text-[#0A285F]" 
                        placeholder="Ingresa tu nombre" formControlName="name" required>  
    
                </div>
    
                <div class="mb-6">
                    <label for="dificulty" class="block mb-2 text-sm font-medium text-[#0075BE]">Selecciona la
                        dificultad</label>
                    <select id="dificulty" class="
                        bg-gray-50 border 
                        border-gray-300
                        text-gray-900 
                        text-sm 
                        rounded-lg 
                        focus:ring-blue-500
                        focus:border-blue-600
                        block w-full 
                        px-3 py-1.5" formControlName="dificulty">
    
                        <option value="" disabled selected> Elija la dificultad</option>
                        <option value="3">Facil</option>
                        <option value="4">Medio</option>
                        <option value="5">Dificil</option>
                        <option value="6">Muy dificil</option>
    
                    </select>
    
                </div>
    
    
    
                <button class="       
                disabled:bg-slate-500 disabled:text-white disabled:border-slate-200 disabled:shadow-none   
                w-full
                px-6
                py-2.5
                bg-[#0A285F]
                text-white
                font-medium
                text-xs
                leading-tight
                uppercase
                rounded
                shadow-md
                hover:bg-[#0075BE] hover:shadow-lg
                focus:bg-[#0075BE] focus:shadow-lg focus:outline-none focus:ring-0
                active:bg-[#0075BE]active:shadow-lg
                transition
                duration-150
                ease-in-out"  [disabled]="!newGameform.valid">Comienza</button>
            </form>
        
        </div>
    </div>
</div>
