<app-header></app-header>
<div class="w-full mt-10 flex flex-col justify-center items-center">

    <img src="../../../assets/pokememo.png" alt="">
    <div class="w-1/3 p-3 
    flex flex-col items-center
    border mt-5 
    text-[#FFCC00] 
    text-2xl text-justify ">
        <p>Diseñado y programado por Emliano Cagliari</p>
        <div class="w-full text-center p-3">
            <h3>Tecnoligias:</h3>
            <div class="h-44 flex justify-evenly">
                <a href="https://angular.dev/" target="_blank">
                    <div class="hover:border p-2 m-2">
                        <p>Frontend</p>
                        <img class="w-24" src="../../../assets/icons/angular.svg" alt="">
                    </div>
                </a>
                <a href="https://tailwindcss.com/" target="_blank">
                    <div class="hover:border p-2 m-2">
                        <p>CSS</p>
                        <img class="w-24" src="../../../assets/icons/tailwind.svg" alt="">
                    </div>
                </a>
                <a href="https://pokeapi.co/" target="_blank">
                    <div class="hover:border p-2 m-2">
                        <p>API</p>
                        <img class="w-24" src="../../../assets/icons/pokemon.svg" alt="">
                    </div>
                </a>
            </div>
            <div>
                <p>Si te gusto puedes acceder al repositorio en github.</p>
                <a href="https://github.com/EmilianoCagliari/pokememo" target="_blank">
                    <div class="flex justify-evenly items-center hover:border p-2 m-2">
                        <p>PokeMemo Repositorio:</p>
                        <img class="w-16" src="../../../assets/icons/github.svg" alt="">
                    </div>
                </a>
            </div>
        </div>


    </div>
</div>